html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(132, 97, 97);
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
}

#lion1 {
    display: none;
    object-fit: fill;
    width: 275px;
    height: 185px;
    border-width: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#lion2 {
    display: block;
    object-fit: fill;
    width: 275px;
    height: 185px;
    border-width: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#lion3 {
    display: none;
    object-fit: fill;
    width: 275px;
    height: 185px;
    border-width: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#lion4 {
    display: none;
    object-fit: fill;
    width: 275px;
    height: 185px;
    border-width: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#lion5 {
    display: none;
    object-fit: fill;
    width: 275px;
    height: 185px;
    border-width: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#controls {
    display: flex;
}

.dot {
    margin: 10px;
    cursor: pointer;
}

.arrow {
    margin: 15px;
    cursor: pointer;
}